doctype html
html
    head
        title  Sample Title
    body
        h1  Hello World

        div.header.
            i am header
        div
            p hiii hello
            div
                h5 Hello
                h4 Hiii
